/* Calendar.css */
.calendar-container {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rbc-calendar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}

.rbc-event {
    background-color: #c86700;
    border: none;
    border-radius: 4px;
    padding: 2px 4px;
    color: #ffdb9d;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rbc-event:hover {
    background-color: #ffc384;
}



.rbc-toolbar {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rbc-toolbar .rbc-toolbar-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.rbc-toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.rbc-toolbar button:hover {
    background-color: #f0f0f0;
}

.rbc-toolbar .rbc-btn-group {
    display: flex;
    align-items: center;
}

.rbc-toolbar .rbc-btn-group button {
    margin: 0 5px;
}

