.event-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .event-card {
    width: 600px; /* Largeur fixe pour toutes les cartes */
    height: 400px; /* Hauteur fixe pour toutes les cartes */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .event-card:hover {
    transform: translateY(-5px);
  }
  
  .event-card-content {
    padding: 16px;
  }

  .EventCard {
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-bottom: 20px;
}
  
  /* Fixing the dimensions of the card image */
  .EventCard img {
    width: 600px;
    height: 200px; /* Set the fixed height for the image */
    object-fit: cover; /* Ensure the image covers the entire area */
  }
  
  .event-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  


  
  