.event-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .MuiCard-root {
    margin: 20px;
  }
  
  .MuiCardMedia-root {
    height: 140px;
    width: 100%;
    object-fit: cover;
  }
  