#AboutUs {
    margin : auto;
    text-align: center;
    width: 90%;
    padding: 5px;
}
.description{
  text-align: center;
  width : 80%;  
  margin : auto;
  font-size: 18px;
  font-weight: 500;
  color: rgb(63, 3, 3); 
}




.primary-subheading {
    font-size: 2em; 
    font-weight: bold; 
    color: #d18100; 
    margin-bottom: 20px; 
    
  }


  .eventvideo {
    display: block;
    width: 100% ;
    max-width: 450px ;
    height: auto ; 
    margin: auto; 
    margin: 20px auto;
}


