/* EventDetails.css */

.containerdetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligner les éléments en haut */
  }
  
  .containerdetails img {
    max-width: 100%;
  }
  
  .containerdetails > div {
    width: calc(50% - 20px); /* Réglage de la largeur des deux colonnes */
  }
  
  .containerdetails h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .containerdetails p {
    margin-bottom: 0.5rem;
  }
  
  /* Style de l'icône */
  .icon {
    vertical-align: middle; /* Alignement vertical avec le texte */
    margin-right: 5px; /* Marge à droite de l'icône */
  }
  
  .button-participate {
    display: inline-block;
    height: 48px; /* Hauteur personnalisée */
    width: 100%; /* Largeur personnalisée */
    border: none;
    border-radius: 4px;
    background-color: #4b5563; /* Couleur de fond du bouton */
    color: #ffffff; /* Couleur du texte */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-participate:hover {
    background-color: #2c7a7b; /* Couleur de fond du bouton au survol */
  }
  